services:
  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=rateup
      - POSTGRES_PASSWORD=rateup123
      - POSTGRES_DB=rateupdb
    # restart: always

volumes:
  postgres_data:
    driver: local
